<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="task"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.task.entity.Property</class>
        <class>com.company.task.entity.Customer</class>
        <class>com.company.task.entity.Seller</class>
        <class>com.company.task.entity.Booking</class>
        <class>com.company.task.entity.Enquiry</class>
        <class>com.company.task.entity.Transaction</class>
        <class>com.company.task.entity.Office</class>
        <class>com.company.task.entity.SalesListing</class>
        <class>com.company.task.entity.Broker</class>
    </persistence-unit>
</persistence>
